<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" text="text/css" href="css/styles.css">

</head>


<body>
    <div id="myContainer">

        <!-- NAVIGATION -->
          <nav>
                <ul>
                      <li> <a href="#1">Home</a></li>
                      <li><a href="#1">Add Post</a></li>
                      <li><a href="#1">Sort</a></li>
                </ul>
          </nav>

          <div id="posts">
                <span id="user"> User </span>
                <div id="single-post"> Random post that is going to be generated</div>
                <div id="upvote"><a href> Upvote </a></div> <div id="downvote"><a href> Downvote </a></div>
                <div id="commentNumber"> 122 <span>comments</span> </div>
          </div>

          <div id="posts">
                <span id="user"> User </span>
                <div id="single-post"> Random post that is going to be generated</div>
                <div id="upvote"><a href> Upvote </a></div> <div id="downvote"><a href> Downvote </a></div>
                <div id="commentNumber"> 122 <span>comments</span> </div>
          </div>

          <div id="addpost">
                <form id="addpostform">
                      <input type="text" name="title" placeholder="Title" /> </br>
                      <input type="text" name="subject" placeholder="Subject" /> </br>
                      <textarea id="postMessage" placeholder="Add your description here"> </textarea> </br>
                      <input type="button" id="send" value="Send"/>
                      <input type="button" id="cancel" value="Cancel"/> </br>
                </form>
          </div>

          <div id="test">
              ABC
          </div>
    </div>

    <p> AAA </p>


    <!-- SCRIPT LINKS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>

</body>

</html>
